.bg{
    margin-top:-19px;
background-color: black;
height: 60px;
}
.returns{
    
    height:94px;
 margin-top:22px;
    color:white;
    margin-left:420px;
}
.return-link{
    color:white;
    text-decoration: underline;
    cursor: pointer;
}
.logo{
    height:110px;
    width:110px;
   margin-top:-35px;
}
.brand{
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-left:117px;
    margin-top:-75px;
}
.serach{
    margin-left:850px;
    width:355px;
    margin-top:16px;
    
  font-size:17px;
    padding: 15px 30px;

}
.prof{
    width:45px;
    height:35px;
    border-radius :26px;
    margin-left:19px;
    margin-top:29px;
}
.acc{
    width:45px;
    height:35px;
    border-radius:12px;
margin-top:29px;
margin-left:34px;
}
.cart{
    width:45px;
    height:35px;
    border-radius: 6px;
    margin-left:30px;
    margin-top:35px;
}
.Paintings{
    color:black;
    font-size:20px;
    margin-top:55px;
    margin-left:120px;
}
.Photography{
    color:black;
    font-size:20px;
    margin-top:-32px;
    margin-left:255px;
}
.paint{
    text-decoration: none;
cursor: underline;
    color:black;
}

.Sculptures{
    color:black;
    font-size:20px;
    margin-top:-31px;
    margin-left:425px;
}

.Drawings{
      color:black;
    font-size:20px;
    margin-top:-33px;
    margin-left:575px;

}  
.Print{
    color:black;
    font-size:20px;
    margin-top:-31px;
    margin-left:705px;
}
.Inspirtion{
      color:black;
    font-size:20px;
    margin-top:-32px;
    margin-left:795px;
}
.Art{
      color:black;
    font-size:20px;
    margin-top:-31px;
    margin-left:945px;
}

.Trade{
  color:black;
    font-size:20px;
    margin-top:-31px;
    margin-left:1125px;
}
.Deals{
      color:black;
    font-size:20px;
    margin-top:-31px;
    margin-left:1255px;
}
.images{
    margin-top:75px;
    align-items: center;
    width:1596px;
    height:-1px;
}
.btn1{
    color:black;
    background-color: white;
    border-color: black;
    border-radius: 3px;
   
       margin-left:23px;
}
.lnk{
    color:black;
}
.btn2{
    color:black;
    background-color: white;
    border-color: black;
    border-radius: 3px;
   margin-left:23px;
    
}
.links{
    background-color:black;
}
.line{
    width:9109px;
height:343px;
color:black;
}
.btn3{
    color:black;
    background-color: white;
    border-color: black;
    border-radius: 3px;
   
       margin-left:23px;
}
.btn4{
    color:black;
    background-color: white;
    border-color: black;
    border-radius: 3px;
      margin-left:23px;
    
}
.btn5{
    color:black;
    background-color: white;
    border-color: black;
    border-radius: 3px;
      margin-left:23px;
    
}
.btn6{
    color:black;
    background-color: white;
    border-color: black;
    border-radius: 3px;
   
       margin-left:23px;
}
.btn7{
    color:black;
    background-color: white;
    border-color: black;
    border-radius: 3px;
      margin-left:23px;
    
}
.btn8{
    color:black;
    background-color: white;
    border-color: black;
    border-radius: 3px;
      margin-left:23px;
    
}
.btn9{
    color:black;
    background-color: white;
    border-color: black;
    border-radius: 3px;
      margin-left:23px;
    
}
.joy{
    color:black;
    margin-left: 320px;
}
.monalisa{
width:199;
height:203px;
margin-left:90px;
}
.img2{
width:199px;
height:203px;
margin-left:90px;
}
.couple{
width:199px;
height:203px;
margin-left:90px;
}
.smth{
width:199px;
height:203px;
margin-left:90px;
}
.p1{
    color:black;
    font-size:20px;
    margin-left:90px;
    margin-top:-54px;
}
.p11{
    color:black;
}
.p2{
    color:black;
    font-size:20px;
    margin-left:400px;
    margin-top:-54px;
}
.p3{
    color:black;
    font-size:20px;
    margin-left:680px;
    margin-top:-54px;
}

.p4{
 color:black;
    font-size:20px;
    margin-left:1000px;
    margin-top:-54px;
}
.shop{
    color:black;
    margin-left:180px;
}
.btna{
    color:black;
    background-color: white;
    border-color: black;
    border-radius: 3px;
      margin-left:523px;
    
    
}
.btnb{
    color:black;
    background-color: white;
    border-color: black;
    border-radius: 3px;
      margin-left:43px;
    margin-bottom:-100px;
    margin-top:-80px;
}
.btnc{
    color:black;
    background-color: white;
    border-color: black;
    border-radius: 3px;
  margin-left:43px;
}
.btnd{
    color:black;
    background-color: white;
    border-color: black;
    border-radius: 3px;
    margin-left:43px;
}
.other{
    background-color: rgb(215, 215, 215);
}
.que{
    color:black;
     margin-left:500px;
}
.ans{
    color:black;
    margin-left:350px;
}
.answer{
    color:black;

}
.pic{
    height:95px;
    width:90px;
   margin-top:-5px;
}
.pp{
font-family:Georgia, 'Times New Roman', Times, serif;
    margin-left:107px;
    margin-top:-65px;
    font-size:21px;
}
.heading{
  
background-color: black;
margin-top: -33px;
}
.head{
color:rgb(255, 254, 254);
}
.links{
    font-size:30px;
    color:black;
}
.l1{
    color:white;
margin-left:420px;
}
.l2{
    color:white;
margin-left:60px;
}
.l3{
    color:white;
margin-left:60px;
}
.IMG1{
width:199;
height:203px;
margin-left:90px;
}
.IMG3{
width:199px;
height:203px;
margin-left:90px;
}
.IMG2{
width:199px;
height:203px;
margin-left:90px;
}
.IMG4{
width:199px;
height:203px;
margin-left:90px;
}
.price1{
    cursor:pointer;
    margin-top: 10px;
    color:black;
    margin-left:90px;
}
.price2{
    cursor:pointer;
    margin-top:-60px;
    color:black;
    margin-left:380px;
}
.price3{
    cursor:pointer;
    margin-top:-70px;
    color:black;
    margin-left:670px;
}
.price4{
    cursor:pointer;
    margin-top:-70px;
    color:black;
    margin-left:963px;
}
.shopp{
    background-color:rgb(193, 187, 187);
    color:black;
    width:309px;
    height:64px;
    margin-left:549px;
    margin-top:96px;
    border-radius:5px;
}
.HEADING{
    COLOR:BLACK;
}
.lnk{
    text-decoration: none;
}
.one{
width:199;
height:203px;
margin-left:90px;
}
.two{
width:199px;
height:203px;
margin-left:90px;
}
.three{
width:199px;
height:203px;
margin-left:90px;
}
.four{
width:199px;
height:203px;
margin-left:90px;
}
.a1ST{
width:199;
height:203px;
margin-left:90px;
}
.b2ND{
width:199px;
height:203px;
margin-left:90px;
}
.c3RD{
width:199px;
height:203px;
margin-left:90px;
}
.d4TH{
width:199px;
height:203px;
margin-left:90px;
}
.room{
    width:1980px;
    height:550px;
}
.roomtext{
    color:white;
    margin-left:230px;
font-size:50px;
margin-top:-199px;
}
.desc{
    color:white;
    font-size:23px;
    margin-left:1130px;
    margin-top:-5px;
}
.aboutimage{
width:520px;
height:520px;
margin-left:280px;
}
.join{
    margin-left:930px;
    background-color: black;
    color:white;
    width:96px;
    height:53px;
}
.abttext{
    margin-left:900px;
    font-size:20px;
    color:black;
margin-top: -600px;
}
.imgdesc{
    color:black;
    margin-left:320px;
    margin-top:370px;
}
.peach{
    background-color: palevioletred;
}
.vs{
    color:black;
    margin-left:90px;
}
.tradee{
    color:black;
    margin-left:90px;
}
.d1{
    color:black;
    margin-left:90px;
    font-size: 17px;
}
.tradee1{
    color:black;
    margin-left:650px;
     margin-top:-145px;
}
.d11{
    color:black;
    margin-left:650px;
    font-size: 17px;
}
.bg2{
    background-color: peachpuff;
}
.q{
    color:black;
    margin-left:600px;
}
.qna{
    color:black;
    margin-left: 650px;
    width:90px;
    height:39px;
    background-color: rgb(240, 179, 105);
}
.last{
    margin-top:32px;
    margin-left: 10px;
} 
.box {
    margin-left:34px;
      width: 350px;
      height: 450px;
      border: 2px solid black;
      background-color: rgb(240, 243, 244);
      padding: 5px; /* adds space between text and border */
    }
.paintpg{
    margin-left:324px;
}
.addtocart{
    color:black;
    background-color: skyblue;
    border-radius: 9px;
    margin-left:23px;
width:210px;
height:44px;
}
.filter{
    margin-top:-1220px;
}
.fl{
    margin-top:10px;
   
    margin-left: 98px;
}

.how{
    color:red;
    margin-left:450px;
    margin-top: 120px;
}
.q1{
    margin-top:45px;
    margin-left:42px;
}
.form-check{
    margin-left:42px;
    font-size: 22px;
}
.submit{
    margin-left:520px;
    margin-top:22px;
    background-color: blanchedalmond;
    border-radius: 7px;
    color:black;
    height: 54px;
    width:198px;
}
.sol{
    color:black;
     background-color: aquamarine;
    margin-top: -5px;
    height:90px;
    font-size:45px;
   
}